@font-face {
  font-family: lato;
  src: url(../fonts_icon/fonts/Lato.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts_icon/fonts/Poppins.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: lato;
  color: #000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header  */
.body-gap {
  padding-left: 50px;
  padding-right: 50px;
}
.topBottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
#navbarTogglerDemo01 #auraNavbar li {
  padding: 0px 0px;
}
#navbarTogglerDemo01 #auraNavbar li a {
  color: #000;
  font-family: poppins;
}
#navbarTogglerDemo01 #auraNavbar .nav-item a {
  position: relative;
  overflow: hidden;
}
#navbarTogglerDemo01 #auraNavbar .nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0px;
  height: 1px;
  background-color: rgb(13, 13, 255);
  transform: translateX(50%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#navbarTogglerDemo01 #auraNavbar .nav-item a:hover {
  color: rgb(13, 13, 255);
  overflow: visible;
}
#navbarTogglerDemo01 #auraNavbar .nav-item a:hover::before {
  width: 100%;
  left: 0px;
  transform: translateX(0px);
}
.audio-feature {
  position: relative;
  display: inline-block;
}
.audio-feature:hover {
  display: block;
}
.audio-tv {
  position: absolute;
  top: -11px;
  left: 180px;
  display: none;
}
.audio-feature:hover .audio-tv {
  display: block;
}
/*---------------login.html-----------------*/
/*------login and signup-------------*/
.log {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.log:hover {
  overflow: visible;
}
#navbarTogglerDemo01 #navBar a {
  color: #000;
  position: relative;
  overflow: hidden;
}
#navbarTogglerDemo01 #navBar a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: rgb(13, 13, 255);
  transform: translateX(50%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
#navbarTogglerDemo01 #navBar a:hover {
  color: rgb(13, 13, 255);
}
#navbarTogglerDemo01 #navBar a:hover::before {
  width: 100%;
  transform: translateX(0px);
  left: 0px;
}
.log .log-in {
  display: none;
  position: absolute;
  top: 40px;
  left: -5px;
  right: -5px;
  visibility: hidden;
  background: #fff;
  padding: 20px 23px;
}
.log:hover .log-in {
  display: block;
  visibility: visible;
}
.log .log-in ul {
  padding-left: 0px;
}
.form-group {
  position: relative;
}
#passwordShowHide,
#confirmPasswordShowHide {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}
.password-error.error {
  display: block;
  text-align: left;
  margin-top: 5px;
}
/* head  */
.head-nav {
  /* margin-top: 80px; */
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #717dc2;
}
.aura-head {
  background-color: #c9def1;
  padding: 20px 0px;
}
.aura-head-special {
  padding-left: 0px;
}
.aura-head-special li {
  list-style: none;
}
.aura-head-special li:nth-child(1) {
  font-size: 30px;
  font-weight: 400;
}
.aura-head-special li:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0px;
}
.aura-head-special li:nth-child(3) {
  font-size: 30px;
}
.special-now {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 52px;
}
/* head-er */
.head-er {
  margin-top: 70px;
}
.launch-color {
  background-color: #e3ebf8;
}
.head-er-1 {
  padding-left: 30px;
}
.btn-more {
  background-color: transparent;
  border: 1px solid #000;
  padding: 5px 25px;
  border-radius: 10px;
  margin-top: 14px;
  font-size: 20px;
  font-weight: 500;
}
/* smartphone */
.smartPhones {
  margin-top: 50px;
}
.smartphone-head {
  background-color: #c9def1;
  padding: 20px 0px;
  margin-bottom: 50px;
}
.phone-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-bottom: 0px;
}
.phone-head li {
  font-size: 20px;
}
.phone-head li a {
  font-size: 20px;
  color: #000;
}
.phoneSlider {
  width: 100%;
  display: none;
}
.phoneSlider.sliderBlock {
  display: block;
}
.phone-details {
  text-align: center;
}
.phone-details img {
  padding: 0px 40px;
  max-height: 140px;
  margin: auto;
  width: 100%;
}
.phone-details h5 {
  font-size: 18px;
  margin-top: 30px;
}
.phone-price li {
  font-size: 22px;
  font-weight: 600;
}
.phone-details .phone-discount {
  color: #6eb974;
  font-size: 15px;
}
.btn__ {
  background-color: transparent;
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 12px;
  font-weight: 500;
}
.arrow {
  font-size: 90px;
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  position: absolute;
  top: 35%;
}
.next {
  right: 20px;
}
.prev {
  left: 20px;
}
/* television */
.teleSlider {
  width: 100%;
}
.prevTele {
  left: 20px;
}
.nextTele {
  right: 20px;
}
/* laplop & tablets */
.tabSlider {
  width: 100%;
}
.prevTab {
  left: 20px;
}
.nextTab {
  right: 20px;
}
/* audio */
.audioSlider {
  width: 100%;
}
.prevAudio {
  left: 20px;
}
.nextAudio {
  right: 20px;
}
/* home appliance */
.appliance {
  width: 100%;
}
.prevAppliance {
  left: 20px;
}
.nextAppliance {
  right: 20px;
}
/* smart life */
.smart-life {
  margin-bottom: 60px;
}
.divider {
  color: #000;
  height: 2px;
}
.smartLife {
  width: 100%;
}
.prevSmartLife {
  left: 20px;
}
.nextSmartLife {
  right: 20px;
}
/* footer */
.footer-product ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.footer-product ul li a {
  color: #000;
  font-size: 12px;
}
.footer-product ul li a:hover {
  color: rgb(37, 20, 189);
}
.call .footer-pro-1 {
  padding-left: 0px;
}
.call .footer-pro-1 li:nth-child(1) a {
  font-size: 20px;
  font-weight: 600;
}
.call .footer-pro-1 li:nth-child(1) a:hover {
  color: #ffa41c;
}
.call .footer-pro-1 li:nth-child(2) {
  margin-top: 10px;
}
.call .footer-pro-1 li:not(:first-child) {
  font-size: 13px;
  font-weight: 600;
}
.call .footer-pro-2 {
  padding-left: 0px;
}
.call .footer-pro-2 li:first-child {
  margin-top: 20px;
}
.call .footer-pro-2 li:first-child button {
  color: #000;
  background: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 8px 50px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
.call .footer-pro-2 li:first-child button .fas {
  margin-right: 5px;
}
.call .footer-pro-2 li:first-child button:hover {
  color: #fff;
  background-color: #ffa41c;
  border-color: #ffa41c;
}
.call .footer-pro-2 li:nth-child(2) {
  margin-top: 10px;
}
.call .footer-pro-2 li:not(:first-child) {
  font-size: 13px;
  font-weight: 600;
}
.call .footer-pro-3 {
  margin-top: 20px;
}
.call .footer-pro-3 input {
  padding-right: 116px;
}
.call .footer-pro-3 input:focus {
  box-shadow: 0px 0px 0px 0px;
  border-color: #ffa41c;
}
.call .footer-pro-3 span {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(13, 13, 255);
  padding: 6px 20px;
  border-radius: 4px;
  border: 1px solid #000;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0ms;
}
.call .footer-pro-3 span:hover {
  color: #000;
  background-color: #ffa41c;
  border-color: #ffa41c;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
.footer-bottom ul li a {
  color: #fff;
  background-color: #000;
  line-height: 33px;
  width: 33px;
  height: 33px;
  display: inline-block;
  border: none;
  border-radius: 100%;
  text-align: center;
}
/*----------- phone.html -------------*/
/*-------------- search --------------*/
.search {
  margin-top: 100px;
}
.search-items {
  width: 60%;
  margin: 65px auto;
  border-radius: 30px;
  padding-right: 36px;
}
.search-items:focus {
  box-shadow: 0px 0px 10px 1px #8993cc;
}
.search-icon {
  position: absolute;
  top: 6px;
  right: 21%;
  font-size: 16px;
  color: #212529;
}
/*------------filter--------------*/
.filter-box {
  background-color: #e3e1e4;
  padding: 30px 0px 20px 20px;
  border: 1px solid #e3e1e4;
  border-radius: 10px;
  position: sticky;
  top: 80px;
}
.filter-brand h6 {
  font-weight: 600;
  font-size: 16px;
}
.filter-brand-list {
  padding-left: 0px;
  margin-bottom: 0px;
}
.filter-brand-list li {
  position: relative;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.filter-brand-review li {
  color: #ffa41c;
}
/*---------------------choose item---------------------*/
.choose-item {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 35px 10px 20px;
  position: relative;
  background: #e3e1e4;
  z-index: 0;
  border: 1px solid #e3e1e4;
  border-radius: 13px;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
.box:hover {
  transform: scale(1.03);
}
.offer {
  margin-bottom: 25px;
}
.offer::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -31px;
  height: 98%;
  width: 77%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
.offer-1::after {
  background-image: url(../images/images/back1.png);
}
.offer-2::after {
  background-image: url(../images/images/back2.png);
}
.offer-3::after {
  background-image: url(../images/images/back3.png);
}
.offer-4::after {
  background-image: url(../images/images/back4.png);
}
.offer-5::after {
  background-image: url(../images/images/back5.png);
}
.offer-6::after {
  background-image: url(../images/images/back6.png);
}
.offer-7::after {
  background-image: url(../images/images/back7.png);
}
.offer img {
  width: 50%;
  display: block;
  margin: auto;
  transform: translatex(-34px);
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
.box:hover .offer img {
  transform: translatex(-44px);
}
.box:hover .offer::after {
  right: -37px;
}
.offer-position {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  color: #fff;
  background-color: #8993cc;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 14px;
}
.box-info {
  padding: 0px 20px 20px;
}
.box-info p {
  margin-bottom: 0px;
}
.box-info p:first-child {
  font-weight: 700;
}
.box-info p:nth-child(2) {
  font-size: 14px;
}
.box-price {
  margin-top: 10px;
}
.box-price li {
  font-weight: 700;
}
.box-price li:first-child {
  font-size: 20px;
  color: #000;
}
.box-price li:last-child {
  font-size: 15px;
  color: rgb(88, 88, 88);
}
.box-info .btn-item {
  color: #8993cc;
  background-color: transparent;
  border: 1px solid #8993cc;
  border-radius: 12px;
  padding: 7px 21px;
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.box-info .btn-item:hover {
  color: #fff;
  background-color: #8993cc;
}
/*-------------method-------------------*/
.methods {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 30px auto 20px;
}
.method-type {
  margin: auto;
  text-align: center;
  padding-left: 0px;
}
.method-type li:first-child {
  font-size: 40px;
}
.method-type li:last-child {
  font-size: 16px;
  padding-top: 8px;
}

/*-------------------------------contact.html------------------------------*/

/*--------------contact-------------*/

.contact {
  margin: 82px 0px 0px;
  background-color: #8993cc;
  padding: 60px 0px;
}
.form {
  color: #fff;
}
.form-name {
  font-size: 16px;
}
.form-name:focus {
  box-shadow: 0px 0px 0px 0px #fff;
  border-color: #ffa41c;
}
.btn-submit {
  padding: 8px 18px;
  width: 23%;
  border: none;
  border-radius: 30px;
  color: #8993cc;
  font-weight: 600;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.btn-submit:hover {
  color: #fff;
  background-color: #ffa41c;
}
.form label sup {
  font-size: 22px;
  top: 0px;
}

/*--------------login.html--------------------*/

/*-----------log in----------------*/

.logIn {
  margin-top: 83px;
  padding: 30px 0px;
  background: rgb(190 190 212);
}
.form-login {
  text-align: center;
  background: #fff;
  padding: 40px 35px;
  border: none;
  border-radius: 18px;
  box-shadow: 0px 0px 16px 5px #6559a4;
}
.form-login h2 {
  font-weight: 700;
}
.form-login form {
  margin-top: 30px;
}
.form-login form input:nth-child(1) {
  box-shadow: 0px 0px 0px 0px;
}
.form-login form input:nth-child(1):focus {
  box-shadow: 0px 0px 0px 0px;
  border-color: #ffa41c;
}
#userName {
  color: rgb(255, 35, 35);
  text-align: right;
  display: block;
}
.form-login form .form-pass {
  box-shadow: 0px 0px 0px 0px;
  margin-top: 10px;
}
.form-login form .form-pass:focus {
  box-shadow: 0px 0px 0px 0px;
  border-color: #ffa41c;
}
.form-login form .btn-login {
  margin: 20px 0px;
  color: #ffa41c;
  background: rgb(13, 13, 255);
  border: none;
  padding: 10px 60px;
  border-radius: 16px;
  font-size: 18px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.form-login form .btn-login:hover {
  color: #fff;
  background-color: #ffa41c;
}
.sing-another-acc ul li:nth-child(1) a {
  background: #ffa41c;
  padding: 10px 26px;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.sing-another-acc ul li:nth-child(1) a:hover {
  color: #ffa41c;
  background-color: rgb(13, 13, 255);
}
.sing-another-acc ul li:nth-child(1) a:hover span {
  color: #fff;
}
.sing-another-acc ul li:nth-child(2) a {
  background: #ffa41c;
  padding: 10px 26px;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.sing-another-acc ul li:nth-child(2) a:hover {
  color: #ffa41c;
  background-color: rgb(13, 13, 255);
}
.sing-another-acc ul li:nth-child(2) a:hover span {
  color: #fff;
}
.sing-another-acc p a {
  color: rgb(13, 13, 255);
}

/*-------------signUp.html----------------*/

/*----------------signUp-------------------*/
/* .signUp{
        margin-top: 80px;
    } */

.sigUp-form {
  text-align: center;
  background: #fff;
  padding: 40px 35px;
  border: none;
  border-radius: 18px;
  box-shadow: 0px 0px 16px 5px #6559a4;
}
.form-heading h3 {
  position: relative;
  font-weight: 700;
}
.form-heading h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 37%;
  height: 1px;
  background-color: #000;
}
.form-heading h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 37%;
  height: 1px;
  background-color: #000;
}
.sigUp-form .form-heading p {
  text-align: start;
  margin-top: 0px;
}
.form-sign {
  box-shadow: 0px 0px 0px 0px;
}
.form-sign:focus {
  box-shadow: 0px 0px 0px 0px;
  border-color: #ffa41c;
}
.btn-sign {
  border: none;
  color: #ffa41c;
  background-color: rgb(13, 13, 255);
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.btn-sign:hover {
  color: rgb(13, 13, 255);
  background-color: #ffa41c;
}
.sigUp-form p {
  margin-top: 18px;
}
.sigUp-form form label a {
  color: rgb(13, 13, 255);
}
.sigUp-form p a {
  color: rgb(13, 13, 255);
}

.error {
  color: #985050;
  font-size: 14px;
  line-height: 14px;
  text-wrap: wrap;
}
/* add dynamic styling */
.div-container,
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: #ffa41c;
  padding: 30px;
  border-radius: 30px;
  z-index: 9;
}
.img__img {
  display: block;
  width: 134px;
  margin: auto;
}
.box-title {
  font-size: 20px;
  margin-top: 10px;
}
.close__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  color: #6eb974;
  text-align: center;
  line-height: 29px;
  border: 3px solid #6eb974;
  cursor: pointer;
}
.feature__info {
  color: #6eb974;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}
.detail__info {
  margin-bottom: 0;
  font-size: 14px;
}
.backdrop,
.model__overlay {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005f;
  cursor: pointer;
}
.model__close-btn-div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.model__close-btn {
  color: #ffa41c;
  background: rgb(13, 13, 255);
  border: none;
  padding: 10px 60px;
  border-radius: 16px;
  font-size: 18px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.model__close-btn:hover {
  color: #fff;
}
#navBar > li > button.nav__cart-icon {
  position: relative;
  border: none;
  background-color: unset;
  transition: all 0.5 ease-in-out;
}
#navBar > li > button.nav__cart-icon:hover {
  color: rgb(13, 13, 255);
}
#navBar > li > button.nav__cart-icon > span {
  position: absolute;
  right: -3px;
  top: 0;
}
.phone-details {
  padding-block: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  height: 100%;
  padding-inline: 10px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* add dynamic styling end */

/* when click cart button */
.cart-box-model-backdrop {
  width: 0%;
  height: 100vh;
  background-color: #0000005d;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 9999999999999;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
.cart-box-model-backdrop.active {
  width: 100%;
  right: 100%;
  transform: translateX(100%);
}
.cart-model-box {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -450px;
  bottom: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999999999999999;
  transition: all 0.5s ease-in-out;
}
.cart-model-box.active {
  right: 0;
}
.cart-model-top {
  padding-bottom: 10px;
  padding-inline: 20px;
  position: relative;
}
.cart-model-top > span {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 28px;
}
.cart-model-middle > h3 {
  font-size: 20px;
  background-color: #6559a4;
  margin-bottom: 0;
  margin-top: 50px;
  padding-block: 15px;
  padding-left: 20px;
  color: #fff;
}
.cart-model-list-group {
  margin-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.cart-model-list-group > li {
  padding-inline: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-model-list-group > li:not(:last-child) {
  margin-bottom: 20px;
}
.cart-product-details {
  display: flex;
  align-items: center;
}
.cart-product-details > img {
  width: 50px;
}
.cart-product-details > p {
  margin-bottom: 0;
}
.cart-increament-decrement {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.cart-increament-decrement > li > button {
  background-color: unset;
  padding-inline: 8px;
  padding-block: 0px;
  text-align: center;
  border: none;
}
.cart-increament-decrement > li > input {
  width: 30px;
  /* -moz-appearance: textfield; */
  text-align: center;
  outline: none;
}
.cart-increament-decrement > li > input::-webkit-outer-spin-button,
.cart-increament-decrement > li > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price {
  margin-bottom: 0;
  margin-inline: 5px;
}
.trash {
  color: #985050;
  cursor: pointer;
}
