@font-face{
    font-family: lato;
    src: url(../fonts&icon/fonts/Lato.ttf);
    }
    @font-face{
    font-family: poppins;
    src: url(../fonts&icon/fonts/Poppins.ttf);
    }
    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    body{
    font-family: lato;
    color: #000;
    }
    li{
    list-style: none;
    }
    a{
    text-decoration: none;
    }
    /* header  */
    .body-gap{
    padding-left: 50px;
    padding-right: 50px;
    }
    .topBottom{
    padding-top: 20px;
    padding-bottom: 20px;
    }
    #navbarTogglerDemo01 #auraNavbar li{
    padding: 0px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar li a{
    color: #000;
    font-family: poppins;
    }
    #navbarTogglerDemo01 #auraNavbar .nav-item a{
        position: relative;
        overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .nav-item a::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 0px;
        height: 1px;
        background-color: rgb(13, 13, 255);
        transform: translateX(50%);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .nav-item a:hover{
        color:rgb(13, 13, 255);
        overflow: visible;
    }
    #navbarTogglerDemo01 #auraNavbar .nav-item a:hover::before{
        width: 100%;
        left: 0px;
        transform: translateX(0px);
    }
    .show-icon{
    position: absolute;
    top: 6px;
    right: 0px;
    font-size: 20px;
    display: none;
    }
    .hide-icon{
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 20px;
    display: none;
    }
    .tele-link{
    position: relative;
    }
    .auraNavButton{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: poppins;
    }
    .nav-open:hover .header-phone{
    display: flex;
    visibility: visible;
    }
    .header-phone{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 199;
    background: #fff;
    top: 40px;
    right: -790px;
    padding: 10px 14px;
    left: -100px;
    visibility: hidden;
    }
    .header-smart p{
    font-size: 15px;
    color: #000;
    text-align: center;
    }
    .header-tele{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 199;
    background: #fff;
    top: 40px;
    right: -100px;
    padding: 10px 14px;
    left: -100px;
    visibility: hidden;
    }
    .tele-link:hover .header-tele{
    display: flex;
    visibility: visible;
    }
    .header-tele-ul{
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    }
    .header-tele-ul:not(:last-child):after{
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #000;
    }
    .header-tele-ul li{
        color: #000;
    }
    .laptop-link{
    position: relative;
    }
    .header-laptop{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 199;
    background: #fff;
    top: 40px;
    right: -320px;
    padding: 10px 14px;
    left: -320px;
    visibility: hidden;
    }
    .laptop-link:hover .header-laptop{
    display: flex;
    visibility: visible;
    }
    #auraNavbar .audio-link{
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    font-family: poppins;
    }
    #auraNavbar .audio-link:hover{
    overflow: visible;
    }
    .header-audio{
    position: absolute;
    top: 40px;
    left: -510px;
    right: -1332px;
    visibility: hidden;
    background-color: #fff;
    display: none;
    z-index: 200;
    text-align: left;
    bottom: -608px;
    }
    .audio-link:hover .header-audio{
    display: block;
    visibility: visible;
    }
    .audio-icon-des h4{
    color: #000;
    margin: 30px 0px 20px 60px;
    font-size: 22px;
    font-weight: 700;
    }
    .au-i-d-list{
    display: grid;
    grid-template-columns: 50% 40%;
    }
    .audio-icon-des-item{
    padding-left: 0px;
    margin-left: 40px;
    position: relative;
    }
    .audio-icon-des-item::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 120px;
    width: 1px;
    height: 100%;
    background-color: #000;
    }
    .audio-feature{
    position: relative;
    display: inline-block;
    }
    .audio-feature:hover{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .aura-audio-link{
    color: #000;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .aura-audio-link:hover{
        color: rgb(13, 13, 255);
    }
    .audio-tv{
    position: absolute;
    top: -11px;
    left: 180px;
    display: none;
    }
    .audio-feature:hover .audio-tv{
    display: block;
    }
    .audio-feature .aura-audio-link span{
    margin-left: 90px;
    font-size: 22px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .audio-tv li{
    padding: 5px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .audio-tv li a{
    position: relative;
    overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .audio-tv li a::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: rgb(13, 13, 255);
    transform: translateX(50%);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .audio-tv li a:hover::before{
    transform: translateX(0px);
    width: 100%;
    left: 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-feature .audio-tv li a:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television{
    position: relative;
    display: inline-block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television:hover{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .aura-audio-link:hover{
        color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .aura-audio-link span{
    margin-left: 132px;
    font-size: 22px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview{
    display: none;
    position: absolute;
    top: -55px;
    left: 180px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television:hover .overview{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview li{
    padding: 5px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview li a{
    position: relative;
    overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview li a:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview li a::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: rgb(13, 13, 255);
    transform: translateX(50%);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-television .overview li a:hover::before{
    transform: translateX(0px);
    width: 100%;
    left: 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame{
    position: relative;
    display: inline-block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame:hover{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .aura-audio-link:hover{
        color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .aura-audio-link span{
    margin-left: 62px;
    font-size: 22px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio{
        display: none;
        position: absolute;
        top: -87px;
        background: #fff;
        left: 180px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame:hover .audio-serio{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio li{
    padding: 5px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio li a{
    position: relative;
    overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio li a:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio li a::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: rgb(13, 13, 255);
    transform: translateX(50%);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-frame .audio-serio li a:hover::before{
    transform: translateX(0px);
    width: 100%;
    left: 0px;
    }
    .audio-size{
    position: relative;
    display: inline-block;
    }
    .audio-size:hover{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .aura-audio-link:hover{
        color: rgb(13, 13, 255);
    }
    .audio-size .aura-audio-link span{
    margin-left: 80px;
    font-size: 22px;
    }
    .inches{
        display: none;
        position: absolute;
        top: -130px;
        left: 179px;
    }
    .audio-size:hover .inches{
    display: block;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .inches li{
    padding: 5px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .inches li a{
    position: relative;
    overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .inches li a:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .inches li a::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: rgb(13, 13, 255);
    transform: translateX(50%);
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item .audio-size .inches li a:hover::before{
    transform: translateX(0px);
    width: 100%;
    left: 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link{
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    font-family: poppins;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link:hover{
    overflow: visible;
    }
    .appliances-link .header-appliances{
    position: absolute;
    top: 40px;
    left: -570px;
    right: -1190px;
    visibility: hidden;
    background-color: #fff;
    display: none;
    z-index: 200;
    text-align: left;
    padding: 30px 0px 30px 114px;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    }
    .appliances-link .header-appliances::before{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #000;
    content: "";
    }
    .appliances-link .header-appliances::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 1000px;
    width: 100%;
    height: 100%;
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link:hover .header-appliances{
    display: flex;
    visibility: visible;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .header-applianc-list{
    color: #000;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .header-applianc-list:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .feature-tab ul li{
    padding: 8px 0px;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .feature-tab ul li a{
    position: relative;
    overflow: hidden;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .feature-tab ul li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0px;
    left: 50%;
    background-color: rgb(13,13,255);
    transform: translateX(50%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .feature-tab ul li a:hover::before{
    transform: translate(0px);
    left: 0px;
    width: 100%;
    }
    #navbarTogglerDemo01 #auraNavbar .appliances-link .header-appliances .feature-tab ul li a:hover{
    color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item li a:hover {
        color: rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #auraNavbar .audio-link .header-audio .audio-icon-des .audio-icon-des-item li{
        padding: 5px 0px;
    }
    /*---------------login.html-----------------*/
    /*------login and signup-------------*/
    .log{
        position: relative;
        overflow: hidden;
        z-index: 2;
    }
    .log:hover{
        overflow: visible;
    }
    #navbarTogglerDemo01 #navBar a{
        color: #000;
        position: relative;
        overflow: hidden;
    }
    #navbarTogglerDemo01 #navBar a::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 0%;
        height: 1px;
        background-color: rgb(13, 13, 255);
        transform: translateX(50%);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    #navbarTogglerDemo01 #navBar a:hover{
        color:rgb(13, 13, 255);
    }
    #navbarTogglerDemo01 #navBar a:hover::before{
        width: 100%;
        transform: translateX(0px);
        left: 0px;
    }
    .log .log-in{
        display: none;
        position: absolute;
        top: 40px;
        left: -5px;
        right: -5px;
        visibility: hidden;
        background: #fff;
        padding: 20px 23px;
    }
    .log:hover .log-in{
        display: block;
        visibility: visible;

    }
    .log .log-in ul{
        padding-left: 0px;
    }
    /* head  */
    .head-nav{
    margin-top: 80px;
    }
    .carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    }
    .carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #717dc2;
    }
    .aura-head{
    background-color: #c9def1;
    padding: 20px 0px;
    }
    .aura-head-special{
    padding-left: 0px;
    }
    .aura-head-special li{
    list-style: none;
    }
    .aura-head-special li:nth-child(1){
    font-size: 30px;
    font-weight: 400;
    }
    .aura-head-special li:nth-child(2){
    font-size: 30px;
    font-weight: 600;
    padding: 5px 0px;
    }
    .aura-head-special li:nth-child(3){
    font-size: 30px;
    }
    .special-now{
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 52px;
    }
    /* head-er */
    .head-er{
    margin-top: 70px;
    }
    .launch-color{
    background-color: #e3ebf8;
    }
    .head-er-1{
    padding-left: 30px;
    }
    .btn-more{
    background-color: transparent;
    border: 1px solid #000;
    padding: 5px 25px;
    border-radius: 10px;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 500;
    }
    /* smartphone */
    .smartPhones{
    margin-top: 50px;
    }
    .smartphone-head{
    background-color: #c9def1;
    padding: 20px 0px;
    margin-bottom: 50px;
    }
    .phone-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
    }
    .phone-head li{
    font-size: 20px;
    }
    .phone-head li a{
    font-size: 20px;
    color: #000;
    }
    .phone-details{
    text-align: center;
    }
    .phone-details img{
    padding: 0px 85px;
    }
    .phone-details h5{
    font-size: 18px;
    margin-top: 30px;
    }
    .phone-price li{
    font-size: 22px;
    font-weight: 600;
    }
    .phone-details .phone-discount{
    color: #6eb974;
    font-size: 15px;
    }
    /* television */
    /* smart life */
    .smart-life{
    margin-bottom: 60px;
    }
    .divider{
    color: #000;
    height: 2px;
    }
    /* footer */
    .footer-product{
    }
    .footer-product ul{
    padding-left: 0px;
    margin-bottom: 0px;
    }
    .footer-product ul li a{
    color: #000;
    font-size: 12px;
    }
    .footer-product ul li a:hover{
    color: rgb(37, 20, 189);
    }
    .call{

    }
    .call .footer-pro-1{
        padding-left: 0px;
    }
    .call .footer-pro-1 li:nth-child(1) a{
        font-size: 20px;
        font-weight: 600;
    }
    .call .footer-pro-1 li:nth-child(1) a:hover{
        color: #ffa41c;
    }
    .call .footer-pro-1 li:nth-child(2){
        margin-top: 10px;
    }
    .call .footer-pro-1 li:not(:first-child){
        font-size: 13px;
        font-weight: 600;
    }
    .call .footer-pro-2{
        padding-left: 0px;
    }
    .call .footer-pro-2 li:first-child{
        margin-top: 20px;
    }
    .call .footer-pro-2 li:first-child button{
        color: #000;
        background: transparent;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 8px 50px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0ms;
    }
    .call .footer-pro-2 li:first-child button .fas{
        margin-right: 5px;
    }
    .call .footer-pro-2 li:first-child button:hover{
        color: #fff;
        background-color: #ffa41c;
        border-color: #ffa41c;
    }
    .call .footer-pro-2 li:nth-child(2){
        margin-top: 10px;
    }
    .call .footer-pro-2 li:not(:first-child){
        font-size: 13px;
        font-weight: 600;
    }
    .call .footer-pro-3{
        margin-top: 20px;
    }
    .call .footer-pro-3 input{
        padding-right: 116px;
    }
    .call .footer-pro-3 input:focus{
        box-shadow: 0px 0px 0px 0px;
        border-color: #ffa41c;
    }
    .call .footer-pro-3 span{
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
        color: #fff;
        background-color: rgb(13, 13, 255);
        padding: 6px 20px;
        border-radius: 4px;
        border: 1px solid #000;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        transition-delay: 0ms;
    }
    .call .footer-pro-3 span:hover{
        color: #000;
        background-color: #ffa41c;
        border-color: #ffa41c;
    }
    .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .footer-bottom ul{
    margin-bottom: 0px;
    padding-left: 0px;
    }
    .footer-bottom ul li a{
    color: #fff;
    background-color: #000;
    line-height: 33px;
    width: 33px;
    height: 33px;
    display: inline-block;
    border: none;
    border-radius: 100%;
    text-align: center;
    }
    /*----------- phone.html -------------*/
    /*-------------- search --------------*/
    .search{
    margin-top: 100px;
    }
    .search-items{
    width: 60%;
    margin: 65px auto;
    border-radius: 30px;
    padding-right: 36px;
    }
    .search-items:focus{
    box-shadow: 0px 0px 10px 1px #8993cc;
    }
    .search-icon{
    position: absolute;
    top: 6px;
    right: 21%;
    font-size: 16px;
    color: #212529;
    }
    /*------------filter--------------*/
    .filter-box{
    background-color: #e3e1e4;
    padding: 30px 0px 20px 20px;
    border: 1px solid #e3e1e4;
    border-radius: 10px;
    position: sticky;
    top: 80px;
    }
    .filter-brand h6{
    font-weight: 600;
    font-size: 16px;
    }
    .filter-brand-list{
    padding-left: 0px;
    margin-bottom: 0px;
    }
    .filter-brand-list li{
    position: relative;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    }
    .filter-brand-review li{
    color: #ffa41c;
    }
    /*---------------------choose item---------------------*/
    .choose-item{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    }
    .box{
    padding: 35px 10px 20px;
    position: relative;
    background: #e3e1e4;
    z-index: 0;
    border: 1px solid #e3e1e4;
    border-radius: 13px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    }
    .box:hover{
    transform: scale(1.03);
    }
    .offer{
    margin-bottom: 25px;
    }
    .offer::after{
    content: "";
    position: absolute;
    top: 1px;
    right: -31px;
    height: 98%;
    width: 77%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    }
    .offer-1::after{
    background-image: url(../images/images/back1.png);
    }
    .offer-2::after{
    background-image: url(../images/images/back2.png);
    }
    .offer-3::after{
    background-image: url(../images/images/back3.png);
    }
    .offer-4::after{
    background-image: url(../images/images/back4.png);
    }
    .offer-5::after{
    background-image: url(../images/images/back5.png);
    }
    .offer-6::after{
    background-image: url(../images/images/back6.png);
    }
    .offer-7::after{
    background-image: url(../images/images/back7.png);
    }
    .offer img{
    width: 50%;
    display: block;
    margin: auto;
    transform: translatex(-34px);
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    }
    .box:hover .offer img{
    transform: translatex(-44px);
    }
    .box:hover .offer::after{
    right: -37px;
    }
    .offer-position{
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: #8993cc;
    padding: 5px 12px;
    border-radius: 12px;
    font-size: 14px;
    }
    .box-info{
    padding: 0px 20px 20px;
    }
    .box-info p{
    margin-bottom: 0px;
    }
    .box-info p:first-child{
    font-weight: 700;
    }
    .box-info p:nth-child(2){
    font-size: 14px;
    }
    .box-price{
    margin-top: 10px;
    }
    .box-price li{
    font-weight: 700;
    }
    .box-price li:first-child{
    font-size: 20px;
    color: #000;
    }
    .box-price li:last-child{
    font-size: 15px;
    color: rgb(88, 88, 88);
    }
    .box-info .btn-item{
    color: #8993cc;
    background-color: transparent;
    border: 1px solid #8993cc;
    border-radius: 12px;
    padding: 7px 21px;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    }
    .box-info .btn-item:hover{
    color: #fff;
    background-color: #8993cc;
    }
    /*-------------method-------------------*/
    .methods{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px auto 20px;
    }
    .method-type{
    margin: auto;
    text-align: center;
    padding-left: 0px;
    }
    .method-type li:first-child{
    font-size: 40px;
    }
    .method-type li:last-child{
    font-size: 16px;
    padding-top: 8px;
    }

    /*-------------------------------contact.html------------------------------*/

    /*--------------contact-------------*/

    .contact{
        margin: 82px 0px 0px;
        background-color: #8993cc;
        padding: 60px 0px;
    }
    .form{
        color: #fff;
    }
    .form-name{
        font-size: 16px;
    }
    .form-name:focus{
        box-shadow: 0px 0px 0px 0px #fff;
        border-color: #ffa41c;
    }
    .btn-submit{
        padding: 8px 18px;
        width: 23%;
        border: none;
        border-radius: 30px;
        color: #8993cc;
        font-weight: 600;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
    .btn-submit:hover{
        color: #fff;
        background-color: #ffa41c;
    }
    .form label sup{
        font-size: 22px;
        top: 0px;
    }

    /*--------------login.html--------------------*/

    /*-----------log in----------------*/

    .logIn{
        margin-top: 83px;
        padding: 30px 0px;
        background: rgb(190 190 212);
    }
    .form-login{
        text-align: center;
        background: #fff;
        padding: 40px 35px;
        border: none;
        border-radius: 18px;
        box-shadow: 0px 0px 16px 5px #6559a4;
    }
    .form-login h2{
        font-weight: 700;
    }
    .form-login form{
        margin-top: 30px;
    }
    .form-login form input:nth-child(1){
        box-shadow: 0px 0px 0px 0px;
    }
    .form-login form input:nth-child(1):focus{
        box-shadow: 0px 0px 0px 0px;
        border-color: #ffa41c;
    }
    #userName{
        color: rgb(255, 35, 35);
        text-align: right;
        display: block;
    }
    .form-login form .form-pass{
        box-shadow: 0px 0px 0px 0px;
        margin-top: 10px;
    }
    .form-login form .form-pass:focus{
        box-shadow: 0px 0px 0px 0px;
        border-color: #ffa41c;
    }
    .form-login form .btn-login{
        margin: 20px 0px;
        color: #ffa41c;
        background: rgb(13, 13, 255);
        border: none;
        padding: 10px 60px;
        border-radius: 16px;
        font-size: 18px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .form-login form .btn-login:hover{
        color: #fff;
        background-color: #ffa41c;
    }
    .sing-another-acc ul li:nth-child(1) a{
        background: #ffa41c;
        padding: 10px 26px;
        border: none;
        border-radius: 10px;
        color: #fff;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .sing-another-acc ul li:nth-child(1) a:hover{
        color: #ffa41c;
        background-color: rgb(13, 13, 255);
    }
    .sing-another-acc ul li:nth-child(1) a:hover span{
        color: #fff;
    }
    .sing-another-acc ul li:nth-child(2) a{
        background: #ffa41c;
        padding: 10px 26px;
        border: none;
        border-radius: 10px;
        color: #fff;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    .sing-another-acc ul li:nth-child(2) a:hover{
        color: #ffa41c;
        background-color: rgb(13, 13, 255);
    }
    .sing-another-acc ul li:nth-child(2) a:hover span{
        color: #fff;
    }
    .sing-another-acc p a{
        color:rgb(13, 13, 255);
    }

    /*-------------signUp.html----------------*/

    /*----------------signUp-------------------*/
    /* .signUp{
        margin-top: 80px;
    } */

    .sigUp-form{
        text-align: center;
        background: #fff;
        padding: 40px 35px;
        border: none;
        border-radius: 18px;
        box-shadow: 0px 0px 16px 5px #6559a4;
    }
    .form-heading h3{
        position: relative;
        font-weight: 700;
    }
    .form-heading h3::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0px;
        width: 37%;
        height: 1px;
        background-color: #000;
    }
    .form-heading h3::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        width: 37%;
        height: 1px;
        background-color: #000;
    }
    .sigUp-form .form-heading p{
        text-align: start;
        margin-top: 0px;
    }
    .form-sign{
        box-shadow: 0px 0px 0px 0px;
    }
    .form-sign:focus{
        box-shadow: 0px 0px 0px 0px;
        border-color: #ffa41c;
    }
    .btn-sign{
        border: none;
        color: #ffa41c;
        background-color: rgb(13, 13, 255);
        border-radius: 10px;
        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
    }
    .btn-sign:hover{
        color:rgb(13, 13, 255);
        background-color: #ffa41c;
    }
    .sigUp-form p{
        margin-top: 18px;
    }
    .sigUp-form form label a{
        color: rgb(13, 13, 255);
    }
    .sigUp-form p a{
        color:rgb(13, 13, 255);
    }